.div1{
    border: 2px solid red;
    border-left: 5px solid blue;
    margin: 20px;
    padding: 20px;
}
.div2{
    border: 2px solid red;
    border-left: 5px solid blue;
    margin: 20px;
    padding: 20px;
    width: 30%;
    height: 70%;
}